{
  "extends": [
    "./eslint/eslint-defaults.json",
    "./eslint/eslint-babel.json"
  ],
  "env" : {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "indent": [
        "error",
        4
    ],
    "no-unused-vars": "warn",
    "no-undef": "off",
    "no-debugger": "off",
    "no-console": "off",
    "semi": "off"
  }
}
